/* Базовые цвета от которых выстраивается вся политра */
$color-base: #000; /* hsl(0, 0%, 0%) */
$color-essential: #fff; /* hsl(0, 0%, 100%) */
$color-project: #fc0; /* hsl(48, 100%, 50%) */
$color-phantom: #000; /* hsl(40, 14%, 96%) */
$color-radical: #e00; /* hsl(0, 100%, 47%) */
$color-path: #0070f0; /* hsl(220, 100%, 47%) */

/* Цвета состояний */
$color-success: #00985f; /* Успех */
$color-alert: #f33; /* Ошибка */
$color-warning: #f90; /* Предупреждение */
$color-normal: #dde3e5; /* Стандартный */
$color-system: #778a9b; /* Системный */

/* Цвета блоков */
$color-brand: $color-project; /* Бренд */
$color-action: color($color-project l(+15%)); /* Действие */
$color-selection: color($color-project h(-1) l(+31%)); /* Выделения */
$color-hover: color($color-project h(+2) l(+40%)); /* Наведения */
$color-inverse: color($color-base); /* DEPRECATED */
$color-border: color($color-phantom a(5%)); /* Границы */
$color-stripe: color($color-phantom a(4%)); /*  Зебра */
$color-ghost: color($color-phantom a(8%)); /* Затенение */
$color-default: $color-essential; /* Дефолт */
$color-tone: color($color-phantom a(90%)); /* Паранджа */
$color-soft: color($color-essential a(97%)); /* Молоко */

/* Цвета текста */
$color-typo-primary: $color-base; /* Основной */
$color-typo-promo: color($color-base a(80%)); /* Промо */
$color-typo-secondary: color($color-base a(60%)); /* Второстепенный */
$color-typo-ghost: color($color-base a(30%)); /* Дополнителный */
$color-typo-inverse: $color-essential; /* DEPRECATED */
$color-typo-disable: color($color-base a(30%)); /* Неактивный */
$color-typo-success: $color-success; /* Успех */
$color-typo-alert: $color-alert; /* Ошибка */
$color-typo-warning: $color-warning; /* Предупреждение */

/* Цвета ссылок */
$color-link: $color-path; /* Основная */
$color-link-external: $color-path; /* Дополнительная */
$color-link-minor: color($color-path h(+22) s(-80%) l(+13%)); /* Второстепенная ссылка */
$color-link-hover: color($color-radical l(-7%)); /* Ховер */


.theme_color_default {
  /* Цвета блоков */
  --color-brand: $color-brand;
  --color-action: $color-action;
  --color-selection: $color-selection;
  --color-hover: $color-hover;
  --color-inverse: $color-inverse; /* DEPRECATED */
  --color-border: $color-border;
  --color-stripe: $color-stripe;
  --color-ghost: $color-ghost;
  --color-default: $color-default;
  --color-tone: $color-tone;
  --color-soft: $color-soft;
  --color-success: $color-success;
  --color-alert: $color-alert;
  --color-warning: $color-warning;
  --color-normal: $color-normal;
  --color-system: $color-system;

  /* Цвета текста */
  --color-typo-primary: $color-typo-primary;
  --color-typo-promo: $color-typo-promo;
  --color-typo-secondary: $color-typo-secondary;
  --color-typo-ghost: $color-typo-ghost;
  --color-typo-inverse: $color-typo-inverse; /* DEPRECATED */
  --color-typo-disable: $color-typo-disable;
  --color-typo-success: $color-typo-success;
  --color-typo-warning: $color-typo-warning;
  --color-typo-alert: $color-typo-alert;

  /* Цвета ссылок */
  --color-link: $color-link;
  --color-link-external: $color-link-external;
  --color-link-minor: $color-link-minor;
  --color-link-hover: $color-link-hover;
}
