.theme_color_liquid-inverse {

	/* Базовые цвета от которых выстраивается вся политра */
	$color-base: #fff; /* hsl(0, 0%, 0%) Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ...*/
	$color-essential: #1a1a1a; /* hsl(0, 0%, 100%) Базовый цвет поверхностей */
	$color-project: #fff; /* hsl(211, 100%, 35%) Проектный цвет, от которого выстраивают акцентные состояния */
	$color-phantom: #fff; /* hsl(40, 14%, 96%) Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
	$color-path: #fff; /* hsl(220, 100%, 47%) Ссылочный цвет, от которого выстраиваются все их состояния */

	/* Цвета состояний */
	$color-success: #00985f; /* Цвет успеха */
	$color-alert: #f33; /* Цвет ошибки */
	$color-warning: #f90; /* Цвет предупреждения */
	$color-normal: #dde3e5; /* Цвет нейтральный */
	$color-system: #778a9b; /* Цвет системнный */


	/* Цвета фона */
	$color-brand: $color-project; /* Цвет фона брендированый */
	$color-action: color($color-project l(+15%)); /* Цвет фона действия */
	$color-selection: color($color-project h(-1) l(+31%)); /* Цвет фона выделения */
	$color-hover: color($color-base a(15%)); /* Цвет фона при наведении */
	$color-inverse: color($color-base); /* DEPRECATED */
	$color-border: color($color-phantom a(5%)); /* Цвет границ */
	$color-stripe: color($color-phantom a(4%)); /* Цвет зебры */
	$color-ghost: color($color-phantom a(8%)); /* Цвет затенения */
	$color-default: $color-essential; /* Цвет дефолта */
	$color-tone: color($color-phantom a(90%)); /* Цвет паранджи */
	$color-soft: color($color-essential a(97%)); /* Цвет молока */

	/* Цвета текста */
	$color-typo-primary: $color-base; /* Цвет основного текста */
	$color-typo-promo: color($color-base a(80%)); /* Цвет промо текста */
	$color-typo-secondary: color($color-base a(60%)); /* Цвет второстепенного текста */
	$color-typo-ghost: color($color-base a(30%)); /* Цвет дополнительного текста */
	$color-typo-inverse: $color-essential; /* DEPRECATED */
	$color-typo-disable: color($color-base a(30%)); /* Цвет неактивного текста */
	$color-typo-success: $color-success; /* Цвет текста успеха */
	$color-typo-warning: $color-warning; /* Цвет текста предупреждения */
	$color-typo-alert: $color-alert; /* Цвет текста ошибки */


	/* Цвета ссылок */
	$color-link: $color-path; /* Цвет основной ссылки */
	$color-link-external: $color-path; /* Цвет дополнительной ссылки */
	$color-link-minor: color($color-path h(+22) s(-80%) l(+13%)); /* Цвет второстепенной ссылки */
	$color-link-hover: color($color-path l(-7%)); /* Цвет ховера ссылки */

	/* Цвета состояний */
	--color-success: $color-success; /* Цвет успеха */
	--color-alert: $color-alert; /* Цвет ошибки */
	--color-warning: $color-warning; /* Цвет предупреждения */
	--color-normal: $color-normal; /* Цвет нейтральный */
	--color-system: $color-system; /* Цвет системнный */

	/* Цвета блоков */
	--color-brand: $color-brand; /* Цвет фона брендированый */
	--color-action: $color-action; /* Цвет фона действия */
	--color-selection: $color-selection; /* Цвет фона выделения */
	--color-hover: $color-hover; /* Цвет фона при наведении */
	--color-inverse: $color-inverse; /* DEPRECATED */
	--color-border: $color-border; /* Цвет границ */
	--color-stripe: $color-stripe; /* Цвет зебры */
	--color-ghost: $color-ghost; /* Цвет затенения */
	--color-default: $color-default; /* Цвет дефолта */
	--color-tone: $color-tone; /* Цвет паранджи */
	--color-soft: $color-soft; /* Цвет молока */

	/* Цвета текста */
	--color-typo-primary: $color-typo-primary; /* Цвет основного текста */
	--color-typo-promo: $color-typo-promo; /* Цвет промо текста */
	--color-typo-secondary: $color-typo-secondary; /* Цвет второстепенного текста */
	--color-typo-ghost: $color-typo-ghost; /* Цвет дополнительного текста */
	--color-typo-inverse: $color-typo-inverse; /* DEPRECATED */
	--color-typo-disable: $color-typo-disable; /* Цвет неактивного текста */
	--color-typo-success: $color-typo-success; /* Цвет текста успеха */
	--color-typo-warning: $color-typo-warning; /* Цвет текста предупреждения */
	--color-typo-alert: $color-typo-alert; /* Цвет текста ошибки */

	/* Цвета ссылок */
	--color-link: $color-link; /* Цвет основной ссылки */
	--color-link-external: $color-link-external; /* Цвет дополнительной ссылки */
	--color-link-minor: $color-link-minor; /* Цвет второстепенной ссылки */
	--color-link-hover: $color-link-hover; /* Цвет ховера ссылки */

}


