/* Базовые цвета от которых выстраивается вся политра */
$color-base: #000000; /* hsl(0, 0%, 0%) */
$color-essential: #FFFFFF; /* hsl(0, 0%, 100%) */
$color-project: #FFCC00; /* hsl(48, 100%, 50%) */
$color-phantom: #F6F5F3; /* hsl(40, 14%, 96%) */
$color-radical: #EE0000; /* hsl(0, 100%, 47%) */
$color-source: #007700; /* hsl(120, 100%, 23%) */
$color-path: #0070F0; /* hsl(220, 100%, 47%) */


/* Цвета блоков */
$color-brand: $color-project; /* Бренд */
$color-action: color($color-project l(+15%)); /* Действие */
$color-selection: color($color-project h(-1) l(+31%)); /* Выделения */
$color-hover: color($color-project h(+2) l(+40%)); /* Наведения */
$color-inverse: color($color-base l(+10%)); /* Инверсия */
$color-border: color($color-base a(5%)); /* Границы */
$color-border-inverse: color($color-essential a(16%)); /* Инверсия границ */
$color-stripe: color($color-base a(2%)); /* Границы */
$color-border-control: color($color-base a(12%)); /* Границы */
$color-ghost: color($color-phantom s(+6%) l(-2%)); /* Затенение */
$color-ghost-inverse: color($color-essential a(20%)); /* Инверсия затенения */
$color-default: $color-essential; /* Дефолт */
$color-default-ios: $color-essential; /* Дефолт iOS */
$color-default-android: color($color-essential l(-2%)); /* Дефолт Android */
$color-tone: color($color-base a(70%)); /* Паранджа */
$color-soft: color($color-essential a(97%)); /* Молоко */
$color-success: color($color-source h(+38%) l(+7)); /* Успех */
$color-alert: color($color-radical l(+13%)); /* Ошибка */
$color-warn: color($color-project h(-1%) l(+21)); /* Предупреждениея */
$color-normal: color($color-phantom h(+155%) s(-1%) l(-8)); /* Стандартный */
$color-system: color($color-base h(+208) s(+15) l(+54)); /* Системный */


/* Цвета компонентов */
$color-disable: color($color-base a(8%)); /* Дизайбл */


/* Цвета текста */
$color-typo-primary: $color-base; /* Основной */
$color-typo-promo: color($color-base a(80%)); /* Промо */
$color-typo-secondary: color($color-base a(60%)); /* Второстепенный */
$color-typo-ghost: color($color-base a(30%)); /* Дополнителный */
$color-typo-ghost-inverse: color($color-essential a(40%)); /* Инверсия дополнительного */
$color-typo-inverse: $color-essential; /* Инверсия */
$color-typo-disable: color($color-base a(30%)); /* Неактивный */
$color-typo-income: color($color-source s(-5) l(+10)); /* Приход */
$color-typo-letter:  color($color-radical l(+3%)); /* Брендированный */
$color-typo-success: color($color-source h(+38%) l(+7)); /* Успех */
$color-typo-alert: color($color-radical l(+13%)); /* Ошибка */


/* Цвета ссылок */
$color-link: $color-path; /* Основная */
$color-link-external: $color-source; /* Дополнительная */
$color-link-minor: color($color-path h(+22) s(-80%) l(+13%)); /* Второстепенная ссылка */
$color-link-hover: color($color-radical l(-7%)); /* Ховер */


:root {
  /* Цвета блоков */
  --color-brand: $color-brand;
  --color-action: $color-action;
  --color-selection: $color-selection;
  --color-hover: $color-hover;
  --color-inverse: $color-inverse;
  --color-border: $color-border;
  --color-border-inverse: $color-border-inverse;
  --color-stripe: $color-stripe;
  --color-border-control: $color-border-control;
  --color-ghost: $color-ghost;
  --color-ghost-inverse: $color-ghost-inverse;
  --color-default: $color-default;
  --color-default-ios: $color-default-ios;
  --color-default-android: $color-default-android;
  --color-tone: $color-tone;
  --color-soft: $color-soft;
  --color-success: $color-success;
  --color-alert: $color-alert;
  --color-warn: $color-warn;
  --color-normal: $color-normal;
  --color-system: $color-system;

  /* Цвета контролов */
  --color-disable: $color-disable;

  /* Цвета текста */
  --color-typo-primary: $color-typo-primary;
  --color-typo-promo: $color-typo-promo;
  --color-typo-secondary: $color-typo-secondary;
  --color-typo-ghost: $color-typo-ghost;
  --color-typo-ghost-inverse: $color-typo-ghost-inverse;
  --color-typo-inverse: $color-typo-inverse;
  --color-typo-disable: $color-typo-disable;
  --color-typo-income: $color-typo-income;
  --color-typo-letter: $color-typo-letter;
  --color-typo-success: $color-typo-success;
  --color-typo-alert: $color-typo-alert;

  /* Цвета ссылок */
  --color-link: $color-link;
  --color-link-external: $color-link-external;
  --color-link-minor: $color-link-minor;
  --color-link-hover: $color-link-hover;
}
