@define-mixin property $prop {
  @each $size, $val in
      (xxxs, xxs, xs, s, m, l, xl, xxl, xxxl, xxxxl),
      (var(--space-xxxs), var(--space-xxs), var(--space-xs), var(--space-s), var(--space-m), var(--space-l), var(--space-xl), var(--space-xxl), var(--space-xxxl), var(--space-xxxxl)) {
        &_$(size) {
          $(prop): $val;
        }
      }
}

.decorator {
  @each $typeName, $typeVal in (space, indent), (padding, margin) {

    @each $dirName, $dirVal in (t, r, b, l), (top, right, bottom, left) {

      &_$(typeName)-a, /* all */
      &_$(typeName)-$(dirName) {
        @mixin property $(typeVal)-$(dirVal);
      }
    }

    &_$(typeName)-v {
      @mixin property $(typeVal)-top;
      @mixin property $(typeVal)-bottom;
    }

    &_$(typeName)-h {
      @mixin property $(typeVal)-left;
      @mixin property $(typeVal)-right;
    }
  }

  &_indent { /* margin auto */
    @each $dirName, $dirVal in (t, r, b, l), (top, right, bottom, left) {

      &-a_auto, /* all */
      &-$(dirName)_auto {
        margin-$(dirVal): auto;
      }
    }

    &-v_auto {
      margin-top: auto;
      margin-bottom: auto;
    }

    &-h_auto {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
