$screen-s: 320px;
$screen-m: 720px;
$screen-l: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1440px;

:root {
	--screen-s: 320px;
	--screen-m: 720px;
	--screen-l: 1024px;
	--screen-xl: 1280px;
	--screen-xxl: 1440px;
}
